.footer{

min-height:100vh;

background:#332820;

color:white;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:80px 10%;

}

.footer h1{

font-size:90px;

font-family:"Cormorant Garamond",serif;

margin-bottom:15px;

}

.footer h2{

font-size:48px;

font-weight:400;

margin-bottom:50px;

}

.footer p{

font-size:28px;

line-height:2;

max-width:800px;

}

.family{

margin-top:80px;

}

.family h3{

margin-top:20px;

font-size:30px;

font-weight:400;

line-height:2;

}