.gallery-page{

min-height:100vh;

padding:120px 8%;

background:#faf7f2;

overflow:hidden;

}

.gallery-header{

max-width:900px;

margin:auto;

text-align:center;

margin-bottom:80px;

}

.chapter{

letter-spacing:5px;

text-transform:uppercase;

color:#b9975b;

font-size:14px;

font-weight:600;

margin-bottom:15px;

}

.gallery-header h1{

font-family:"Cormorant Garamond",serif;

font-size:64px;

color:#3b3029;

margin-bottom:30px;

}

.description{

font-size:24px;

line-height:2;

color:#6d6259;

}

.gallery-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

gap:40px;

align-items:start;

}

.photo-card{

background:white;

padding:18px;

border-radius:18px;

box-shadow:0 18px 40px rgba(0,0,0,.08);

cursor:pointer;

transition:.45s;

position:relative;

}

.photo-card:hover{

transform:translateY(-12px) rotate(0deg)!important;

box-shadow:0 25px 60px rgba(0,0,0,.15);

}

.photo-card img{

width:100%;
aspect-ratio:4/5;

display:block;

border-radius:12px;

object-fit:cover;

/* height:auto; */

transition:.5s;

}

.photo-card:hover img{

transform:scale(1.03);

}

.card-1{

transform:rotate(-2deg);

}

.card-2{

transform:rotate(2deg);

}

.card-3{

transform:rotate(-1deg);

}

.card-4{

transform:rotate(1.5deg);

}

.card-5{

transform:rotate(-3deg);

}

.card-6{

transform:rotate(3deg);

}

@media(max-width:900px){

.gallery-page{

padding:80px 25px;

}

.gallery-header h1{

font-size:42px;

}

.description{

font-size:20px;

}

.gallery-grid{

grid-template-columns:1fr;

}

.photo-card img{

height:360px;

}

}